[Desktop Entry]
Type=Application
Name=Cloudlight
Comment=Couch-first GeForce NOW client
Exec=cloudlight %U
Icon=io.github.miirys.Cloudlight
Terminal=false
Categories=Game;Network;
Keywords=GeForce;cloud;gaming;controller;
StartupNotify=true
StartupWMClass=Cloudlight
MimeType=x-scheme-handler/opennow;
